
.create-btn {
    height: 60px;
    width: 60px;
    position: fixed;
    display: block;
    bottom: 40px;
    right: 40px;

    border-radius: 50px;
    border: none;
    box-shadow: 1px 1px 16px 4px #93C6E7;

    background-color: #93C6E7;
    color: #fff;
    cursor: pointer;

    font-size: 28px;
    text-align: center;
    transition: all .4s;
}

.create-btn:hover {
    color: #000;
    background-color: #B9F3FC;
    box-shadow: 1px 1px 16px 4px #B9F3FC;

}